* {
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
}

:root {
  --color: #202124;
  --white: #efefef;
  --font: "Poppins";
  --glass: rgba(255, 255, 255, 0.096);
}

body {
  padding: 10px;
  font-family: var(--font);
  background-color: var(--color);
  color: var(--white);
  border: 2px solid var(--color);
  width: 220px;
  text-align: center;
}

.inputwrapper input::placeholder {
  font-family: var(--font);
  font-weight: 300;
  color: var(--white);
  text-align: center;
}

.inputwrapper input {
  /* display: none; */
  text-align: center;
  font-size: 12pt;
  padding: 5px;
  width: 70%;
  margin-top: 5px;
  color: var(--white);
  border-radius: 7px;
  border: 1px solid var(--white);
  background-color: var(--glass);
}
.inputwrapper .hiddeninput{
  border: none;
  background-color: transparent;
  display: block;
  cursor: default;
  }
.inputwrapper button {
  background-color: var(--glass);
  padding: 2px;
  color: var(--white);
  border-radius: 7px;
  cursor: pointer;
  font-family: var(--font);
}

.inputwrapper div {
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
}



.material-symbols-outlined {
  cursor: pointer;

}

.material-symbols-outlined:hover{
  border: 1px solid var(--white);
  padding: 1px;
  border-radius: 5px;
}